body{
    
    background-size: cover;
    background-attachment: fixed;  
    margin: 0;
    border: 0;
}

.opacidade{
    background-color: rgba(22, 7, 36, 0.877);
    height: 100vh;
}

nav{
    
}




